# CODEOWNERS
# Ognuno è responsabile di quello scrive
# Su ogni riga si segna chi ha fatto cosa e nel momento della review viene mostrato


#/template/ @Maxelweb
#/template/lettera/ @FouadM96

# ====================================
# Revisione di Progettazione
# ====================================

/interni/ @Maxelweb
/esterni/ @Maxelweb
/interni/norme_progetto @aletomm @lorenzodeinegri @giovd8
/interni/verbali @aletomm @BroHPotato
/esterni/verbali @aletomm @BroHPotato
/esterni/analisi_requisiti @FouadM96 @nfrison @lorenzodeinegri
/esterni/glossario @FouadM96 @giovd8 @nfrison
/esterni/piano_progetto @nfrison @giovd8 @BroHPotato @aletomm
/esterni/piano_qualifica @FouadM96 @BroHPotato @lorenzodeinegri